.header-top {
  background: #000;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  padding: 16px 0;
  font-size: 22px;
  margin-left: 16px;
  outline: none;
}
.menu-icon {
  display: none;
}
.right {
  display: flex;
  align-items: center;
}
.right .search {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin-right: 24px;
  padding: 0 16px;
  min-width: 320px;
  border-radius: 2px;
  position: relative;
}
.right .search svg {
  font-size: 28px;
}
.right .search input {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 16px 0;
  flex: 1;
  color: inherit;
  font-size: 14px;
}
.search-result-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff;
}
.search-result-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}
.search-result-wrapper ul .link {
  display: flex;
  gap: 8px;
}
.search-result-wrapper ul .link .product {
  flex: 1;
}
.search-result-wrapper ul .link .product .price {
  color: red;
}
.search-result-wrapper .view-all:hover,
.search-result-wrapper ul .link:hover .name {
  color: var(--logo-bg-color);
}
.search-result-wrapper .view-all {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightgray;
  padding: 8px;
}
.right .items {
  display: flex;
  align-items: center;
}
.right .items .item {
  padding: 16px 24px;
  border-left: 1px solid gray;
  border-right: 1px solid transparent;
  white-space: nowrap;
}
.right .items .item svg {
  font-size: 36px;
}
.right .items .item span {
  cursor: pointer;
}
.right .items .item span,
.right .items .item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.drawer-body {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1240px) {
  .right .items .item {
    padding: 16px;
  }
  .right .search {
    margin-right: 16px;
    min-width: 260px;
  }
}
@media only screen and (max-width: 768px) {
  .header-top {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .logo {
    margin-left: 0;
    padding-left: 12px;
  }
  .logo img {
    width: 32px;
    height: 32px;
    font-size: 18px;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon button {
    color: #fff;
    padding: 12px;
  }
  .menu-icon button svg {
    font-size: 24px;
  }
  .right {
    width: 100%;
    background-color: lightgray;
  }
  .right .search {
    width: 100%;
    margin: 12px;
    gap: 12px;
    background-color: #fff;
    padding: 0 8px;
  }
  .right .search svg {
    font-size: 18px;
  }
  .right .search input {
    padding: 8px 0;
  }
  .right .items {
    display: none;
  }
  .drawer-body {
    display: block;
  }
  .drawer-body nav {
    width: 50vw;
  }
  .drawer-body a {
    font-size: 16px;
  }
  .drawer-body .nav-items {
    padding: 8px 0;
  }
  .drawer-body .nav-items .nav-item {
    padding: 8px 16px;
  }
  .drawer-body .nav-items .nav-item.active {
    background-color: lightgray;
  }
}
