.scroll-to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 99999;
}
.btn {
  background-color: var(--logo-bg-color);
  border: none;
  border-radius: 50%;
  color: #fff;
  width: 42px;
  height: 42px;
  font-size: 24px;
  transition: transform 0.1s linear;
}
.btn:hover {
  box-shadow: 0 0 1px 4px var(--logo-bg-color-opacity);
  transform: translateY(-1px);
}
