.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}
.breadcrumb-link:hover {
  color: var(--logo-bg-color);
}
.breadcrumb-current {
  font-size: 24px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.header-menu {
  position: relative;
  width: 160px;
}
.header-menu-selected {
  box-shadow: 0 0 1px 0 gray;
}
.header-menu-selected,
.header-menu-items li {
  padding: 8px;
  cursor: pointer;
}
.header-menu-items {
  position: absolute;
  right: 0;
  top: calc(100% + 1px);
  width: 160px;
  z-index: 1;
  background-color: #fff;
}
.header-menu-items li {
  white-space: nowrap;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.top-sidebar {
  display: flex;
  align-items: center;
}
.top-sidebar .result {
  flex: 1;
  display: flex;
  gap: 8px;
  white-space: nowrap;
  align-items: center;
}
.top-sidebar .result ul {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}
.top-sidebar .result ul li:hover {
  background-color: red;
}
.top-sidebar button {
  padding: 8px 16px;
  border: none;
  box-shadow: 0 0 1px 1px var(--logo-bg-color);
  border-radius: 2px;
}
.top-sidebar button:hover {
  box-shadow: 0 0 1px 2px var(--logo-bg-color);
}
.sidebar .title {
  font-weight: 500;
}
.checkboxs,
.variants {
  margin-top: 8px;
}
.checkboxs {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.checked {
  width: 16px;
  height: 16px;
  border: 1px solid lightgray;
  border-radius: 2px;
}
.checked,
.checkbox label {
  cursor: pointer;
  user-select: none;
}
.checkbox input:checked ~ .checked {
  background-color: var(--logo-bg-color);
  background-clip: content-box;
  padding: 1px;
}
.variants {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.top-sidebar .result ul li,
.variant {
  padding: 4px 8px;
  box-shadow: 0 0 1px 1px gray;
  cursor: pointer;
  user-select: none;
}
.variant.active {
  box-shadow: 0 0 1px 2px var(--logo-bg-color);
}
