.body {
  display: flex;
  gap: 16px;
}
.left {
  display: flex;
  gap: 4px;
}
.images {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
}

.images img {
  cursor: pointer;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 52px;
}
.name {
  font-weight: bold;
  font-size: 2rem;
}
.price {
  font-size: 18px;
  color: red;
  font-weight: 500;
}
.price span {
  color: gray;
  text-decoration: line-through;
  margin-left: 8px;
}
.variant-type {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.variant {
  display: flex;
  align-items: center;
  gap: 8px;
}
.variant li {
  padding: 8px;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 2px;
  user-select: none;
}
.quantity {
  display: flex;
  width: 120px;
  height: 36px;
}
.quantity span {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity button {
  width: 36px;
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px var(--logo-bg-color);
}
.quantity button:hover {
  box-shadow: 0 0 1px 2px var(--logo-bg-color);
}
.buttons {
  display: flex;
  gap: 16px;
}
.buttons button {
  background-color: inherit;
  border: none;
  padding: 16px 40px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--logo-bg-color);
}
.buttons button:first-child {
  background-color: var(--logo-bg-color);
  color: #fff;
}
.buttons button:last-child {
  color: var(--logo-bg-color);
}
.buttons button:hover {
  box-shadow: 0 0 1px 2px var(--logo-bg-color-opacity);
}
.variant li.active {
  border: 1px solid var(--logo-bg-color);
  color: var(--logo-bg-color);
  box-shadow: 0 0 1px 2px var(--logo-bg-color-opacity);
}
