.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.header-bottom .nav-items {
  display: flex;
  padding: 0 16px;
}
.nav-items {
  gap: 24px;
}
.nav-item {
  position: relative;
}
.nav-item .nav-item-link {
  display: block;
  padding: 16px 0;
}
.nav-item:hover .nav-item-link {
  color: var(--logo-bg-color);
}
.menu {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 0 1px 1px lightgray;
  display: none;
}
.menu-item {
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 16px;
  text-align: left;
}
.menu-item:hover .menu-item-link {
  color: var(--logo-bg-color);
}
.menu::before {
  content: "";
  position: absolute;
  left: 8px;
  top: -24px;
  border-bottom: 12px solid lightgray;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
}
.menu::after {
  content: "";
  position: absolute;
  left: 9px;
  top: -21px;
  border-bottom: 11px solid #fff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid transparent;
}
.nav-item:hover .menu {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
}
.contact {
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .header-bottom {
    display: none;
  }
}
