.form {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  outline: none;
  gap: 16px;
  padding: 32px;
}

.btn {
  border: none;
  outline: none;
  box-shadow: 0 0 1px 1px var(--logo-bg-color);
  padding: 16px 24px;
  width: 100%;
  text-transform: uppercase;
  background-color: var(--logo-bg-color-opacity);
}
.btn:hover {
  box-shadow: 0 0 1px 2px var(--logo-bg-color);
}
