.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
.wrapper p {
  text-align: center;
}
.link {
  padding: 12px 32px;
  box-shadow: 0 0 1px 1px var(--logo-bg-color);
  background-color: var(--logo-bg-color-opacity);
}
.link:hover {
  box-shadow: 0 0 1px 2px var(--logo-bg-color);
}
