.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewAllWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewAll {
  padding: 12px 24px;
  background-color: var(--logo-bg-color);
  color: #fff;
  border-radius: 5px;
}
.viewAll:hover {
  box-shadow: 0 0 1px 1px var(--logo-bg-color);
}
.blogThumbnail {
  position: relative;
  min-height: 280px;
  overflow: hidden;
  display: block;
}
.blogTitle {
  font-weight: 600;
  padding: 8px 0;
  font-size: 20px;
  display: block;
}
.blogCreatedAt {
  color: gray;
}
.blogThumbnail:hover + .blogTitle,
.blogTitle:hover {
  color: var(--logo-bg-color);
}
.blogThumbnail:hover img {
  transform: scale(1.01);
}
