.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .form {
    width: 75%;
  }
}
@media only screen and (min-width: 1200px) {
  .form {
    width: 50%;
  }
}
.btn {
  padding: 12px 28px;
  border: none;
  box-shadow: 0 0 1px 1px var(--logo-bg-color);
}
.btn:hover {
  box-shadow: 0 0 1px 2px var(--logo-bg-color);
}
