.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  border-bottom: 1px solid lightgray;
}
.formSearch {
  display: flex;
  align-items: center;
  padding: 8px;
  box-shadow: 0 0 1px 1px #345;
  min-width: 240px;
  gap: 8px;
}
.left,
.right {
  flex: 1;
}
.center {
  flex: 2;
}
.left {
  font-weight: 500;
  font-size: 1.8em;
}
.searchIcon {
  font-size: 18px;
  color: #a1a1a1;
  cursor: pointer;
}
.formSearch input {
  border: none;
  outline: none;
  color: #345;
  flex: 1;
}
.right {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: flex-end;
}
.iconSpan {
  cursor: pointer;
}
.iconSpan .icon {
  font-size: 22px;
  color: var(--logo-bg-color);
}
